# for loop

In [2]:
for a in range(5): # start from 0 and 5 is exclusive
    print(a,"umer")

0 umer
1 umer
2 umer
3 umer
4 umer

In [3]:
# by default range value starts from zero but we can give starting point as well
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [5]:
# to give step
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [7]:
cities = ["Oslo","Bergen","Skien"]
for city in cities:
    print(f" The city under observation is  {city}")

 The city under observation is  Oslo
 The city under observation is  Bergen
 The city under observation is  Skien

In [8]:
# if in for loop a list is passed then it will take every element one by one from list
# if for loop is applied to some string then it will take each character one by one 

country = "N0RWAY"
for char in country:
    print(char)

N
0
R
W
A
Y

In [9]:
country = "N0RWAY", "Pakistan" # this time country variable becomes tuple so when loop is applied it will take each element
for char in country:
    print(char)

N0RWAY
Pakistan

# break and continue in for loop

In [10]:
for number in [1,33,45,60,80]:
    if number%2==0:
        break # if the condition met then the loop will be terminated
    print(number)

1
33
45

In [13]:
# in continue if condition becomes true then the next line will not be executed but loop will continue till end
for number in range(10):
    if number == 7 or number == 4:
        continue
    print(number)

0
1
2
3
5
6
8
9

# nested for loop

In [14]:
for a in range(5):
    print("inner loop begins")
    for char in "china":
        print(a,char)

inner loop begins
0 c
0 h
0 i
0 n
0 a
inner loop begins
1 c
1 h
1 i
1 n
1 a
inner loop begins
2 c
2 h
2 i
2 n
2 a
inner loop begins
3 c
3 h
3 i
3 n
3 a
inner loop begins
4 c
4 h
4 i
4 n
4 a