In [2]:
a = 4
b = 5.6
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [3]:
city = "Porsgrunn"
type(city)

str

In [4]:
city2 = 'Larvik'
type(city2)

str

In [5]:
num1 = 10
num2 = 20
num3 = num1 + num2
print(num3)

30

In [6]:
n1 = '10'
n2 = '20'
n3 = n1+n2
print(n3)

1020

In [10]:
#In python by default division operator is floating point
a1 = 100
a2 = 100
print(a1/a2)

1.0

In [12]:
# To get integer use // double division operator
#it cut down the decimal point and give result of only integer part
b1 = 100
b2 = 100
print(b1//b2)

c1 = 100
c2 = 200
print(c1//c2) # the result is 0.5 but it will cut decimal point and give only integer point that is zero

1
0