In [1]:
import numpy as np
import pandas as pd

In [5]:
samples_df = pd.read_csv("sample.csv")
print(samples_df)

  studentid         name   chemistry   physics   maths  english
0       A01     arif ali          20        30      40       50
1       A02  kamran khan          30        40      50       60
2       A03    jabar ali          40        50      60       70
3       A04     abdullah          70        80      90       20

In [8]:
#we can change colimn names while loading data
samples_df = pd.read_csv("sample.csv", skiprows=1,names=['id','name','ch','ph','math','en'])
print(samples_df)

    id         name  ch  ph  math  en
0  A01     arif ali  20  30    40  50
1  A02  kamran khan  30  40    50  60
2  A03    jabar ali  40  50    60  70
3  A04     abdullah  70  80    90  20

In [9]:
#if columns labels are not available in first row of csv file the we can use header = None

# Hierarchal index

In [10]:
# at same time two columns are used can be used as an index in hierarchal indexing

In [13]:
s2_df = pd.read_csv("sample2.csv")
print(s2_df)

parsed = s2_df = pd.read_csv("sample2.csv", index_col=['key1'])
parsed

  key1 key2  val1  val2
0  one    a     1     2
1  one    b     3     4
2  one    c     5     6
3  one    d     7     8
4  two    a     9    10
5  two    b    11    12
6  two    c    13    14
7  two    d    15    16

     key2  val1  val2
key1
one     a     1     2
one     b     3     4
one     c     5     6
one     d     7     8
two     a     9    10
two     b    11    12
two     c    13    14
two     d    15    16

In [14]:
parsed = s2_df = pd.read_csv("sample2.csv", index_col=['key1','key2'])
parsed

           val1  val2
key1 key2
one  a        1     2
     b        3     4
     c        5     6
     d        7     8
two  a        9    10
     b       11    12
     c       13    14
     d       15    16